model:
  base_learning_rate: 5.0e-05
  adjust_learning_rate: false
  find_unused_parameters: true
  gradient_clip_algorithm: norm
  precision: bf16-mixed
  grad_clip: 1.0
  grad_acc_steps: 1
  target: models.second_stage.fm_model_repa_sr.ModelREPAIFTeacher
  params:
    warmup_steps: 5000
    min_lr_multiplier: 0.1
    enc_scale: 4
    base_feature_channels: 8
    adjust_lr_to_batch_size: false
    add_projector: true
    add_norm: false
    latent_dim: 1024
    ctx_noise_prob: 0.6
    ctx_noise_exp: 1.0
    sr_latents:
      - 8
    tokenizer_config:
      folder: /p/scratch/nxtaim-1/mittal3/logs/orbis/logs_tok/2025-11-06T23-25-33_stage1_vq_if_wo_MAE_192x336_dinov2_8_24_dinov3_enc_sep_DLC12816683_mixed_ft_dec_only_combined_input
      ckpt_path: checkpoints/last.ckpt
    generator_config:
      target: networks.DiT.dit_sr.STDiT
      params:
        max_num_frames: 64
        hidden_size: 768 #768
        depth: 12
        num_heads: 12
        patch_size: 1
        mlp_ratio: 4
        input_size:
        - 12
        - 21
        in_channels: 32
        dropout: 0.0
        ctx_noise_aug_ratio: 0.0
        ctx_noise_aug_prob: 0.0
        drop_ctx_rate: 0.1

    teacher_config:
      target: models.second_stage.teacher_model.DistillationTeacher
      params:
        model_id: facebook/dinov3-vitl16-pretrain-lvd1689m
        revision: main
        device: cuda
        dtype: bf16
        reg_tokens: 4
        class_tokens: 1
        patch_size: 16

data:
  target: data.datamodule.DataModuleFromConfig
  params:
    batch_size: 8
    num_workers: 8
    train:
    - target: data.custom_multiframe.MultiHDF5DatasetMultiFrameRandomizeFrameRate
      params:
        hdf5_paths_file: /p/scratch/nxtaim-1/users/galesso1/datasets/bdd_h5/bdd_day_clear_12k_640x360.txt
        size:
        - 192
        - 336
        num_frames: 6
        stored_data_frame_rate: 5
        frame_rates_and_weights:
        - - 5
          - 1
        aug: random_shift
        scale_min: 0.15
        scale_max: 0.5
    validation:
      target: data.custom_multiframe.MultiHDF5DatasetMultiFrameFromJSON
      params:
        samples_json: /p/scratch/nxtaim-1/mousakhan1/data/bdd_val/selected_validation_next_frame.json
        size:
        - 192
        - 336
        num_frames: 6
        stored_data_frame_rate: 5
        frame_rate: 5
