model:
  base_learning_rate: 5e-05
  adjust_learning_rate: false
  find_unused_parameters: true
  #gradient_clip_algorithm: norm
  precision: 32 #bf16-mixed
  #grad_clip: 0.5
  target: models.second_stage.fm_model_repa_e2e_kl.ModelREPATeacher
  params:
    warmup_steps: 5000
    sr_loss_weight: 1.0
    min_lr_multiplier: 0.1
    grad_acc_steps: 1
    grad_acc_steps_ae: 1
    ae_loss_weight: 0.08
    enc_scale: 1.0
    adjust_lr_to_batch_size: false
    add_projector: true
    loss_type: cos_sim
    add_norm: false
    latent_dim: 1024
    ctx_noise_exp: 1.0
    nan_debug: false
    sr_latents:
      - 10
    tokenizer_config:
      folder: /work/dlclarge2/faridk-diff_force/orbis/logs_tk/tk/2025-08-20T21-17-35_stage1_kl_192x336_DLC101600_dec_only
      ckpt_path: #checkpoints/last.ckpt
    generator_config:
      target: networks.DiT.dit_sr_bn.STDiT
      params:
        max_num_frames: 64
        hidden_size: 768 #768
        depth: 24 #24
        num_heads: 16
        mlp_ratio: 4
        patch_size: 1
        input_size:
          - 12
          - 21
        in_channels: 64
        dropout: 0.0
        drop_ctx_rate: 0.0
        ctx_noise_aug_prob: 0.0
        ctx_noise_aug_ratio: 0.0
    teacher_config:
      target: models.second_stage.teacher_model.DistillationTeacher
      params:
        model_id: facebook/dinov3-vitl16-pretrain-lvd1689m
        revision: main
        device: cuda
        dtype: bf16
        reg_tokens: 4
        class_tokens: 1
        patch_size: 16

data:
  target: data.datamodule.DataModuleFromConfig
  params:
    batch_size: 4 #6 worked
    num_workers: 6
    shuffle_val: true
    train:
      target: data.vds_minimal_dataset.MinimalVDSDataset
      params:
        vds_path: /work/dlclarge2/faridk-diff_force/datasets/Covla/h5/vds_latent_8_splits_minimal.h5
        split: train
        num_frames: 8
        size: [192, 336]
        h5_cache_nbytes: 268435456
        h5_cache_nslots: 4096
        h5_cache_w0: 0.9
        load_latents: false
    validation:
      target: data.vds_minimal_dataset.MinimalVDSDataset
      params:
        vds_path: /work/dlclarge2/faridk-diff_force/datasets/Covla/h5/vds_latent_8_splits_minimal.h5
        split: val
        num_frames: 8
        size: [192, 336]
        h5_cache_nbytes: 268435456
        h5_cache_nslots: 4096
        h5_cache_w0: 0.9
        load_latents: false
