model:
  base_learning_rate: 5.0e-05
  adjust_learning_rate: false
  find_unused_parameters: true
  precision: bf16
  target: models.second_stage.fm_model_sr_e2e_kl.ModelSR
  params:
    warmup_steps: 5000
    min_lr_multiplier: 0.1
    enc_scale: 4
    adjust_lr_to_batch_size: false
    sr_latents:
      - 10
    tokenizer_config:
      folder: /data/nxtaimraid02/faridk/ckpts/tk/2025-08-20T21-17-35_stage1_kl_192x336_DLC101600_dec_only
      ckpt_path: checkpoints/last.ckpt
    generator_config:
      target: networks.DiT.dit_sr_bn.STDiT
      params:
        max_num_frames: 64
        hidden_size: 768
        depth: 24
        num_heads: 16
        mlp_ratio: 4
        patch_size: 1
        input_size:
        - 12
        - 21
        in_channels: 16
        dropout: 0.0
        drop_ctx_rate: 0.0
        ctx_noise_aug_prob: 0.0
        ctx_noise_aug_ratio: 0.
        
data:
  target: data.datamodule.DataModuleFromConfig
  params:
    batch_size: 4
    num_workers: 4
    train:
    - target: data.custom_multiframe.MultiHDF5DatasetMultiFrame
      params:
        hdf5_paths_file: data/nxtaimraid02/faridk/data/train_640x360_avail.txt
        size: [192, 336]
        num_frames: 8
    validation:
      target: data.custom_multiframe.MultiHDF5DatasetMultiFrame
      params:
        hdf5_paths_file: data/nxtaimraid02/faridk/data/val_640x360.txt
        size: [192, 336]
        num_frames: 8