model:
  base_learning_rate: 5e-05
  adjust_learning_rate: false
  find_unused_parameters: true
  #gradient_clip_algorithm: norm
  precision: 32-true
  #grad_clip: 0.5
  target: models.second_stage.fm_model_e2e_kl_repa_reg.ModelREPATeacher
  params:
    warmup_steps: 5000
    sr_loss_weight: 1.0
    min_lr_multiplier: 0.1
    grad_acc_steps: 1
    grad_acc_steps_ae: 1
    ae_loss_weight: 0.01
    only_decoder: true
    enc_scale: 1.0
    adjust_lr_to_batch_size: false
    add_projector: true
    loss_type: cos_sim
    add_norm: false
    latent_dim: 1024
    ctx_noise_exp: 0.25
    nan_debug: false
    sr_latents:
      - 10
    tokenizer_config:
      folder: /e/project1/multiscale-wm/farid1/orbis/logs_tk/tk/pseudo_tok
      ckpt_path: #checkpoints/last.ckpt
      #only_decoder: false
    generator_config:
      target: networks.DiT.dit_sr_bn.STDiT
      params:
        max_num_frames: 64
        hidden_size: 768 #768
        depth: 22 #24
        num_heads: 16
        mlp_ratio: 4
        patch_size: 2
        input_size:
        - 22
        - 40
        in_channels: 64
        dropout: 0.0
        drop_ctx_rate: 0.0
        ctx_noise_aug_prob: 0.0
        ctx_noise_aug_ratio: 0.0
    teacher_config:
      target: models.second_stage.teacher_model.DistillationTeacher
      params:
        model_id: facebook/dinov3-vitl16-pretrain-lvd1689m
        revision: main
        device: cuda
        dtype: bf16
        reg_tokens: 4
        class_tokens: 1
        patch_size: 16

data:
  target: data.datamodule.DataModuleFromConfig
  params:
    batch_size: 2
    num_workers: 14
    train:
    - target: data.custom_multiframe.MultiHDF5DatasetMultiFrame
      params:
        hdf5_paths_file: /e/project1/multiscale-wm/farid1/data/train_640x360.txt
        size:
        - 352
        - 640
        num_frames: 5
    validation:
      target: data.custom_multiframe.MultiHDF5DatasetMultiFrame
      params:
        hdf5_paths_file: /e/project1/multiscale-wm/farid1/data/val_640x360.txt
        size:
        - 352
        - 640
        num_frames: 5